@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body {
  scroll-behavior: smooth;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*------------------------------------*/
button {
  cursor: pointer;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
  width: 100%;
  max-width: 1440px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
/* HEADER
-------------------------------------*/
.header {
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0e151b;
  color: white;
  height: 60px;
  width: 100%;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header h4 {
  color: #fbd23c;
}

.menu {
  background-color: #0e151b;
  margin-left: auto;
}

.menu_button {
  background-color: #0e151b;
  color: #21d2cc;
  margin: 0px 20px 0px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.menu_button:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu_btn {
  opacity: 0;
  visibility: hidden;
  color: #21d2cc;
  cursor: pointer;
  position: relative;
  right: 10px;
}

@media (max-width: 767px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
  }

  .menu_button {
    font-size: 12px;
    margin: 0px 5px 0px 5px;
  }

  h4 {
    font-size: 14px;
  }
}
/* INTRO
-------------------------------------*/
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0e151b;
  width: 100%;
  padding: 150px 0px 100px 0px;
}
.intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro h1 {
  color: white;
}

.intro_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
}
.intro_area .med_p {
  color: #21d2cc;
  text-align: center;
}

@media (max-width: 992px) {
  .intro_area {
    height: auto;
    margin: 0px 20px 0px 20px;
  }
  .intro_area .med_p {
    margin: 10px 0px 10px 0px;
  }
  .intro_area h1 {
    margin: 10px 0px 10px 0px;
  }
}
@media (max-width: 767px) {
  .intro .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro .buy_button {
    margin: 0px 0px 20px 0px;
  }
  .intro .intro_image {
    width: 100%;
    height: 100%;
  }
}
.logo {
  display: block;
}

.buy_button {
  margin: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 30px 20px 30px;
  border-radius: 3px;
  background-color: #fbd23c;
  color: black;
  cursor: pointer;
}

.buy_button:hover {
  background-color: #fdde6e;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro_image {
  display: block;
  width: 600px;
  height: 300px;
}

@media (max-width: 992px) {
  .intro_image {
    max-width: 450px;
    max-height: 225px;
  }
}
/* PRIVILEGE
-------------------------------------*/
.privilege {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 100px 0px 100px 0px;
}
.privilege .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.privilege h1 {
  color: black;
  margin: 20px 0px 40px 0px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  width: 300px;
  height: 400px;
  margin: 50px;
  background-color: #0e151b;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 60px #b1b1b1;
          box-shadow: 0 0 60px #b1b1b1;
}
.card .med_p {
  font-weight: 600;
  line-height: 2;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 992px) {
  .card {
    margin: 10px;
  }
}
.card_sticker {
  display: block;
  margin: 20px 0px 50px 0px;
}

/* SAFETY
-------------------------------------*/
.safety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8d4563;
  width: 100%;
  height: auto;
  padding: 100px 0px 100px 0px;
}
.safety .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.safety .card {
  background-color: #21d2cc;
  -webkit-box-shadow: 0 0 60px #464646;
          box-shadow: 0 0 60px #464646;
}
.safety .med_p {
  color: #0e151b;
}
.safety h1 {
  margin: 20px 0px 40px 0px;
  color: white;
}

/* STATICS
-------------------------------------*/
.statics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px 100px 0px;
  border-bottom: solid 3px #21d2cc;
  height: auto;
}
.statics .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.statics .med_p {
  font-size: 20px;
  font-weight: 600;
  color: #383838;
  text-align: center;
  line-height: 2;
  margin: 20px 0px 40px 0px;
}
.statics .buy_button {
  display: inline-block;
  height: 60px;
  background-color: #2264e0;
  -webkit-box-shadow: 0 0 30px #d3d3d3;
          box-shadow: 0 0 30px #d3d3d3;
  color: white;
}
.statics .buy_button:hover {
  background-color: #4c81e4;
}
.statics h1 {
  margin: 20px 0px 40px 0px;
}

@media (max-width: 992px) {
  .statics .buy_button {
    height: auto;
  }
}
@media (max-width: 767px) {
  .statics .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statics .statics_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.statics_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.graph {
  display: block;
  width: 500px;
  height: 150px;
}

/* AUDITORE
-------------------------------------*/
.auditore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 100px 0px 100px 0px;
}
.auditore .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.auditore h1 {
  margin: 20px 0px 40px 0px;
}
.auditore .card_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10px;
}
.auditore .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  -webkit-box-shadow: 0 0 100px #c0d9e2;
          box-shadow: 0 0 100px #c0d9e2;
  width: 600px;
  height: auto;
  margin: 10px;
}
.auditore .card_sticker {
  display: block;
  width: 100%;
  height: 100%;
  margin: 10px;
}
.auditore .med_p {
  color: #383838;
  text-align: left;
}
.auditore .buy_button {
  background-color: #2264e0;
  -webkit-box-shadow: 0 0 40px #b6c6d8;
          box-shadow: 0 0 40px #b6c6d8;
  color: white;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  padding: 30px 70px 30px 70px;
}
.auditore .buy_button:hover {
  background-color: #4c81e4;
}
.auditore h2 {
  color: black;
  text-align: left;
  margin: 20px 0px 40px 0px;
}

@media (max-width: 767px) {
  .auditore .card {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    margin: 10px;
  }
  .auditore .card_sticker {
    display: block;
    width: 95%;
    height: 95%;
  }
}
/* CALC
-------------------------------------*/
.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0e151b;
  width: 100%;
  height: auto;
  padding: 100px 0px 100px 0px;
}
.calc .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calc h1 {
  color: white;
  margin: 40px 0px 40px 0px;
}
.calc h2 {
  margin: 40px 0px 40px 0px;
  color: #21d2cc;
}

.calculator {
  margin: 100px 0px 0px 0px;
  width: 50%;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .calculator {
    width: 70%;
  }
}
.calcform {
  border-radius: 10px;
}

/* PRICE
-------------------------------------*/
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 100px 0px 100px 0px;
  background-color: #0e151b;
}
.price .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price h1 {
  color: white;
  margin: 40px 0px 40px 0px;
  text-align: center;
}
.price h2 {
  margin: 40px 0px 40px 0px;
  color: #21d2cc;
  text-align: center;
}
.price span {
  text-decoration: underline;
}

/* REVIEWS
-------------------------------------*/
.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 100px 0px 100px 0px;
  background-color: #fbd23c;
}
.reviews .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews h1 {
  padding: 40px 0px 60px 0px;
}

.slider {
  text-align: center;
  width: 80%;
  height: auto;
  overflow: hidden;
  -webkit-box-shadow: 0 0 60px #353535;
          box-shadow: 0 0 60px #353535;
  border-radius: 10px;
}

.slides {
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  background-color: white;
  padding: 10px;
  width: 25%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation {
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_img {
  width: 100%;
  height: 100%;
  display: block;
}

.bar {
  width: 40px;
  height: 10px;
  cursor: pointer;
  margin: 10px;
  background-color: white;
  opacity: 0.5;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
}

input[name=r] {
  position: absolute;
  visibility: hidden;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

#r4:checked ~ .s1 {
  margin-left: -75%;
}

@media (max-width: 992px) {
  .slider {
    width: 100%;
  }

  .slide {
    padding: 10px;
  }
}
/* FAQ
-------------------------------------*/
.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 100px 0px 100px 0px;
}
.faq .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq h1 {
  margin: 40px 0px 100px 0px;
}

.faq_title {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding-left: 30px;
  padding-bottom: 50px;
  cursor: pointer;
  color: #383838;
}

.faq_title:hover {
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faq_title:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "+";
  background-color: #fbd23c;
  padding: 10px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  color: #383838;
  left: -30px;
  top: -7px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq_title.active:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.faq_title.active {
  color: black;
  text-decoration: underline;
}

.faq_txt {
  font-size: 16px;
  font-weight: 600;
  display: none;
  padding: 0px 0px 50px 50px;
  line-height: 2;
  color: #383838;
  width: 600px;
  height: auto;
}

@media (max-width: 767px) {
  .faq_block {
    width: 200px;
    margin: 0;
  }

  .faq_txt {
    width: 200px;
    margin: 0;
  }
}
/* ASK
-------------------------------------*/
.ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 100px 0px 100px 0px;
  background-color: #21d2cc;
}
.ask .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ask h1 {
  margin: 40px 0px 40px 0px;
}
.ask .buy_button {
  background-color: #2264e0;
  -webkit-box-shadow: 0 0 40px #b6c6d8;
          box-shadow: 0 0 40px #b6c6d8;
  color: white;
}
.ask .buy_button:hover {
  background-color: #4c81e4;
}

/* CONTACTS
-------------------------------------*/
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 100px 0px 100px 0px;
}
.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts h1 {
  padding: 40px 0px 40px 0px;
}
.contacts h2 {
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  background-color: #21d2cc;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 50px #dbdbdb;
          box-shadow: 0 0 50px #dbdbdb;
}
.contacts .buy_button {
  font-size: 20px;
  padding: 0px;
  background-color: white;
  color: #383838;
  background-color: #21d2cc;
}
.contacts .buy_button:hover {
  text-decoration: underline;
}

/* FOOTER
-------------------------------------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  background-color: black;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer h4 {
  color: #21d2cc;
}

/* POPUP
-------------------------------------*/
.popup1,
.popup2,
.popup3,
.popup4 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.popup1 p,
.popup2 p,
.popup3 p,
.popup4 p {
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.popup1 h1,
.popup2 h1,
.popup3 h1,
.popup4 h1 {
  text-align: left;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 767px) {
  .popup_content {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    padding: 10px;
    margin-top: -150px;
  }

  .reg_form,
.sign_form,
.statics_form,
.email_static_form {
    padding: 10px;
  }
}
.popup1:target,
.popup2:target,
.popup3:target,
.popup4:target {
  opacity: 1;
  visibility: visible;
}

.popup_body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.popup_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: black;
  max-width: 600px;
  padding: 30px;
  margin-top: -100px;
  position: relative;
  top: 80px;
  border-radius: 10px;
  position: relative;
}

.popup_close {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 30px;
  font-weight: 700;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.reg_form,
.sign_form,
.statics_form,
.email_static_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0px 50px 0px 50px;
}

label {
  display: block;
  margin: 10px 0px 0px 0px;
  font-weight: 600;
}

input {
  padding: 10px;
  margin: 5px 10px 10px 10px;
  background-color: #21d2cc;
  border-radius: 2px;
}